body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

nav {
  padding: 10px;
  background-color: darkgray;
  display: flex;
}

nav > a {
  color: black;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  padding: 2px;
  margin: 5px;
}

nav > a:last-child {
  margin-left: auto;
  margin-right: 0;
  color: blue;
}

nav > a:hover {
  background-color: gray;
  color: white;
}

th, td {
  padding: 8px;
}